<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/88f81121-dc0d-4f18-9c55-72e61307a4d7/resourceGroups/robotfactory-rg/providers/Microsoft.Web/sites/rc-api-awa</ResourceId>
    <ResourceGroup>robotfactory-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://rc-api-awa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6834c1a8-4bd9-4951-afdd-7dd76dfaecee</ProjectGuid>
    <PublishUrl>https://rc-api-awa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$rc-api-awa</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>